html, body{
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.blue-col{
    background-image: url(./background\ twitter.png);
} 

.left{
    width: 300px;
    height: 300px;
    font-size: 350px;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 300px;
    padding-bottom: 500px;
}

.login .rigth{
    color: #1D9BF0;
    font-size: 40px;
    padding: 20px 20px;
}

h1{
    font-size: 80px;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 60px;
}

.h3{
    padding-left: 20px;
    padding-top: 50px;
    font-weight: 700;
    font-size: 30px;
    width: 100%;
}

.input-icone{
    position: relative;
}

.input-google, .input-apple{
    width: 300px;
    height: 45px;
    text-align: center;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 20px;
    border: 1px solid;
}

.input-icone i{
    font-size: 20px;
    position: absolute;
    top: 35px;
    left: 65px;
}
.icon-google{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30px;
    left: 55px;
}

.ou{
    font-weight: 400;
    margin-left: 155px;
}

.blue-input{
    background-color: #1A8CD8;
    width: 300px;
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 20px;
    border: 1px solid;
}
.blue-input:hover{
    background-color: #1A8CD8;
    width: 300px;
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 20px;
    border: 1px solid;
}

.mentions{
    font-size: 12px;
    padding-left: 20px;
}
.h4{
    padding-left: 20px;
    margin-top: 50px;
}

.connect{
    width: 300px;
    text-align: center;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 20px;
    border: 1px solid;
    margin-bottom: 100px;
    color: #1A8CD8;
}
.connect:hover{
    width: 300px;
    text-align: center;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 20px;
    border: 1px solid;
    margin-bottom: 100px;
    color: #1A8CD8;
}

/* ========== Modals Customs =========== */

.modal-content{
    text-align: center;
}
.modal-content .modal-body .h2{
    text-align: left !important;
    padding-left: 90px;
    font-weight: bold;
}
.modal-content .modal-body .apple-modal{
    width: 30px;
}

.modal-content .modal-body .google-modal{
    width: 40px;
    padding-right: 5px;
} 

.modal-content .modal-body .input-google, .input-apple{
    text-align: center;
    height: 50px;
}

.modal-content .modal-body .ou{
  padding-top: 20px;
  padding-right: 125px; 
}
.modal-content .modal-body .input-numéro{
    text-align: center;
    width: 300px;
    height: 60px;
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid;
}

.modal-content .modal-body .button-next{
    background-color: black;
    width: 300px;
    height: 40px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 20px;
    border: 1px solid;
}

.modal-content .modal-body .pass-word{
    width: 300px;
    height: 40px;
    text-align: center;
    color: black;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 20px;
    border: 1px solid;
}


/* ========= media queries ===========*/


/* @media screen and (max-width: 500px) {
    .modal-content .modal-body .icon-apple {
        padding-left: 5px;
    }

    .modal-content .modal-body .icon-google {
        margin-left: 5px;
    }
}
@media screen and (max-width: 500px) {
    .modal-content .modal-body .icon-apple {
        padding-left: 5px;
    }

    .modal-content .modal-body .icon-google {
        margin-left: 5px;
    }
}
@media screen and (max-width: 576px) {
    .modal-content .modal-body .icon-apple {
            padding-left: 5px;
        }
    
        .modal-content .modal-body .icon-google {
            margin-left: 5px;
        }
}
@media screen and (min-width: 576px) {
    .modal-content .modal-body .icon-apple {
        padding-left: 80px;
    }

    .modal-content .modal-body .icon-google {
        margin-left: 80px;
    }
}
@media screen and (min-width: 768px) {
    .modal-content .modal-body .icon-apple {
        padding-left: 80px;
    }

    .modal-content .modal-body .icon-google {
        margin-left: 80px;
    }
} */

